$cellWidth: 40px
$fieldLength: 22

*
  margin: 0
  padding: 0
  //font-size: 0

.left
  float: left
  width: 69%

.right
  width: 29%
  float: right

mat-card
  margin: 10px

button
  font-size: 20px

.buttons
  display: flex
  justify-content: space-around

  button
    text-align: center
    width: 20%

.cell
  width: $cellWidth
  height: $cellWidth
  border-radius: 20%
  display: inline-block
  margin: 2px

.row
  height: 44px

.cell:nth-child(1)
  width: 0
  height: 0

.row:nth-child(1) .cell
  width: 0
  height: 0

form mat-form-field
  width: 80%
  display: block

.properties p,
.info p
  font-size: 24px
  padding-bottom: 6px

.info a
  text-decoration: none
  color: #0b0080

.cells
  display: block
  margin: 0 auto
  text-align: center
