<div class="right">
  <mat-card class="generations">
    <mat-card-content>
      <div class="properties">
        <p>Delay: {{ DELAY }} milliseconds</p>
        <p>Length: {{ fieldLength - 2 }} cells</p>
        <p>Ratio: {{ RATIO }}/{{ 100 - RATIO }} alive/dead</p>
        <p>Generaion: {{ generationCounter }}</p>
        <p>Alive cells: {{ aliveCells }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="inputs">
        <form [formGroup]="form" (ngSubmit)="save()">
          <mat-form-field>
            <input matInput type="number" placeholder="Delay (in milliseconds)" formControlName="delay">
            <mat-error *ngIf="form.get('delay').hasError('required')">Required</mat-error>
            <mat-error *ngIf="form.get('delay').hasError('min')">
              Minimum {{ form.controls['delay'].errors['min'].required }}</mat-error>
            <mat-error *ngIf="form.get('delay').hasError('max')">
              Maximum {{ form.controls['delay'].errors['max'].required }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Length of field" formControlName="length">
            <mat-error *ngIf="form.get('length').hasError('required')">Required</mat-error>
            <mat-error *ngIf="form.get('length').hasError('min')">
              Minimum {{ form.controls['length'].errors['min'].required }}</mat-error>
            <mat-error *ngIf="form.get('length').hasError('max')">
              Maximum {{ form.controls['length'].errors['max'].required }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Alive ratio (30 -> 30/(100-30))" formControlName="ratio">
            <mat-error *ngIf="form.get('ratio').hasError('required')">Required</mat-error>
            <mat-error *ngIf="form.get('ratio').hasError('min')">
              Minimum {{ form.controls['ratio'].errors['min'].required }}</mat-error>
            <mat-error *ngIf="form.get('ratio').hasError('max')">
              Maximum {{ form.controls['ratio'].errors['max'].required }}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
        </form>
        <br>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="play()" [disabled]="isGenerating || isEnd">Play</button>
        <button mat-raised-button color="primary" (click)="pause()" [disabled]="!isGenerating || isEnd">Pause</button>
        <button mat-raised-button color="primary" (click)="restart()">Restart</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="info">
    <mat-card-content>
      <p>This is implementation of <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Conway's
        Game of Life</a>. Implementation doesn't check cycles (maybe will be added soon). All calculations processed in
        local machine - be careful with big value of parameters!</p>
      <br>
      <p>For feedback: <a href="https://t.me/Ezio_99" target="_blank">Ezio_99</a> or <a href="https://t.me/inforest"
                                                                                        target="_blank">inforest</a></p>
    </mat-card-content>
  </mat-card>
</div>
<div class="left">
  <mat-card>
    <mat-card-content>
      <div class="cells">
        <div class="row" *ngFor="let row of activeField">
          <div *ngFor="let cell of row" class="cell"
               [ngStyle]="{'background-color': cell == 1 ? 'green' : '#ccc',
               'width': cell == 8 ? '0' : '40px',
               'heigth': cell == 8 ? '0' : '40px'}"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
